{"death_truck.jpg" {:title "Death Truck 2016"
                    :desc ""
                    :rate "5"
                    :tags #{:sculpt :metal :prop}}

 "fire_pit.jpg" {:title "Satanic Fire Pit"
                      :desc  ""
                      :rate  "6"
                      :credit {:author "Kit Castagne"
                               :website "www.kitcastagne.com"}
                      :tags  #{:sculpt :metal}}

 "curvy_railing.jpg" {:title "Metal Railing for staircase"
                           :desc  ""
                           :tags  #{:metal}}

 "corp_head.jpg" {:title "Corporate Headquarters"
                       :desc  ""
                       :tags  #{:set}}

 "edc_flower.jpg"    {:title "Electric Daisy Carnival Flower"
                           :desc  ""
                           :rate  4
                           :tags  #{:set}}

 "edc_show.jpg" {:title "Electric Daisy Carnival Flower and Monster"
                      :desc  ""
                      :tags  #{:set}}

 "van_shelving.jpg" {:title "Shelving for soda repair vans."
                          :desc  ""
                          :tags  #{:metal}}

 "fire_stick.jpg"  {:title "Fire Stick"
                         :desc ""
                         :rate 4
                         :tags #{:metal :prop}}

 "spaceship.jpg" {:title "Water Heater Spaceship"
                       :desc  ""
                       :rate  5
                       :tags  #{:metal :sculpt}}

 "see_saw.jpg" {:title "See Saw"
                :credit {:author "Sam McFadyen"}
                     :desc   ""
                     :rate   5
                     :tags   #{:metal :prop :sculpt}}

 "nfl_hallway_1.jpg" {:title "NFL Hallway"
                          :desc  ""
                          :tags  #{:set}}

 "kicks_1.jpg" {:title "Kicks USA Store Display"
                 :desc  ""
                 :rate  0
                 :tags  #{:set}}

 "kicks_2.jpg" {:title "Kicks USA Store Display"
                 :desc  ""
                 :rate  0
                 :tags  #{:set}}

 "kicks_3.jpg" {:title "Kicks USA Store Display"
                 :desc  ""
                 :rate  0
                 :tags  #{:set}}

 "trailer.jpg" {:title "Bike Trailer"
                     :desc  ""
                     :tags  #{:metal}}

 "windmill.jpg" {:title "Windmill Barrel Fountain"
                 :desc ""
                 :tags #{:prop}}

 "wash_sewing.jpg" {:title "Wash Room @ Vertex Festival"
                    :desc ""
                    :rate 4
                    :tags #{:set}}

 "wash_planter.jpg" {:title "Water Heater Planter @ Vertex Festival"
                     :desc  ""
                     :rate  4
                     :tags #{:prop}}}
