/* some style */

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: Raleway;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

.app {
    margin: 0 auto;
    width: 960px;
}

.main-menu.pure-menu-heading {
    padding: 1rem 0.5rem 0 0;
    color: #fff;
    line-height: 4rem;
}

.logo {
    font-family: Muncie;
    font-size: 4rem;
}

.logo-scrap, .logo-fab {
    padding: 1rem 0.5rem 0 0.5rem;
}

.logo-scrap {
    background: #ee5e4f;
}

.logo-fab {
    background: #a92b1e;
}

.main-menu.pure-menu {
    padding-left: 0;
    position: relative;

    border-style: none none solid none;
    border-width: 1px;
}

.main-menu.pure-menu-list {
    text-transform: uppercase;
    position: absolute;
    line-height: 4rem;
    right: 0;
    font-size: 1em;
}

.service {
    border-style: solid none none none;
    border-width: 1px;
    margin: 0 0 1rem 0;
}

.gallery-cell {
    box-sizing: border-box;
    padding: 0.25em;
}

.gallery-img {
    width: 100%;
}

.gallery {
    padding: 0.25em;
    background: #222;
}