/* some style */

body { background: #fdfdfd; }

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: Raleway;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

hr {
    margin: 0;
}

.logo {
  width: 33%;
  min-width: 260px;
  display: block;
  margin: 0 auto;
}

.responsive-menu {
  text-align: center;
}

.responsive-mobile-menu {
  position: relative;
  display: inline-block;
}

.gallery-menu {
  display: inline-block;
  width: auto;
  position: relative;
  margin: 0.5em 0 0.25em 0;
  text-align: center;
  text-transform: uppercase;
}

.custom-toggle {
    width: 3em;
    height: 3em;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 1.5em;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 1.5em;
    right: 7px;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-0.25em);
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}

.gallery-menu-heading {
  display: block;
  font-size: 1.5em;
}

.gallery-menu-heading.pure-menu-selected {
  color: #000;
}

.service {
    border-style: solid none none none;
    border-width: 1px;
    margin: 0 0 1rem 0;
}

.gallery-image {
    opacity: 1;
    transition: opacity 0.35s;
}

.gallery-image[data-loading] {
    opacity: 0;
}

.gallery {
    opacity: 1;
}

.gallery[data-loading] {
    opacity: 0;
    transition: opacity 0.35s;
}

.gallery-image {
    border: 2px solid #fff;
    box-sizing: border-box;

    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.gallery-row {
    overflow: hidden;
}

.foobar {
    height: 100px;
}

.gallery-cell {
    box-sizing: border-box;
    border: 0;
    float: left;
}

.photo-credit {
    display: inline-block
}

.photo-credit a {
    color: inherit;
}

.photo-title {
    display: inline-block;
    margin: 0;
    padding: 0 0.5em 0 0;
}

.profile-picture {
  max-width: 60%;
  display: block;
  margin: 2rem auto;
  border-radius: 50%;
}

.profile-name, .profile-text {
  text-align: center;
}

.text-center {
  text-align: center;
}

.site-heading {
  padding: 0.5rem;
  margin: 1em 0;

  text-align: center;
}

.fixed-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 4.1667%;
  right: 4.1667%;
  background: #fff;
}

@media (max-width: 568px) {
    .custom-toggle {
      display: block;
    }

    .responsive-menu {
      text-align: left;
    }

    .responsive-mobile-menu {
      display: block;
      width: 100%;
    }

    .gallery-menu {
      text-align: left;
      display: none;
      width: 100%;
      overflow-x: scroll;
    }
}
