/* some style */

body { background: #eee; }

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: Raleway;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

.logo {
  width: 33%;
  display: block;
  margin: 0 auto;
}

.gallery-menu {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.service {
    border-style: solid none none none;
    border-width: 1px;
    margin: 0 0 1rem 0;
}

.gallery-image {
    opacity: 1;
    transition: opacity 0.5s;
}

.gallery-image[data-loading] {
    opacity: 0;
}

.gallery {
    opacity: 1;
}

.gallery[data-loading] {
    opacity: 0;
    transition: opacity 0.5s;
}

.gallery-image {
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.gallery-row {
    overflow: hidden;
}

.foobar {
    height: 100px;
}

.gallery-cell {
    border: 0;
    float: left;
    padding: 2px;
    box-sizing: border-box;
}

.photo-credit {
    display: inline-block
}

.photo-credit a {
    color: inherit;
}

.photo-title {
    display: inline-block;
    margin: 0;
    padding: 0 0.5em 0 0;
}

.profile-picture {
  max-width: 74%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.profile-name {
  text-align: center;
}

.text-center {
  text-align: center;
}

.site-heading {
  padding: 0.5em;
  text-align: center;
  border-width: 0 0 1px 0;
  border-style: none none solid none;
  border-color: rgba(0,0,0,0.25);
}
